/**
 * Created by vissewo on 31/10/2024.
 */
.grid-container {
    display: grid;
    gap: 0px;
}

.grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid #ccc;
    color: white !important;
    background-color: #014486;
}
